body {
    margin: 0;
    font-family: Arial;
    display: flex;
    height: 100vh;
}

#lista {
    width: 30%;
    background: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 2px solid #ccc;
}

#lista h2 {
    text-align: center;
}

.nota-item {
    padding: 10px;
    background: white;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.nota-item:hover {
    background: #e7e7e7;
}

#editor {
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#editor textarea {
    width: 100%;
    height: 70vh;
}

button {
    margin-right: 10px;
}